Package: tr-archive
Version: 1.2-5
Section: base
Priority: optional
Architecture: amd64
Installed-Size: SIZE
Depends: apache2,
         postgresql-11,
         php,
         python-psycopg2,
         php7.3-curl,
         php7.3-pgsql,
         php7.3-xml,
         php7.3-zip,
         php7.3-gd,
         php7.3-bcmath,
         p7zip-full,
         php7.3-mbstring,
         php7.3-intl,
         libreoffice-writer,
         php-nrk-predis,
         libapache2-mod-xsendfile,
         libgost-astra,
         redis-server,
         unzip,
         rsync,
         curl,
         cifs-utils,
         unrar,
         xvfb,
         libgif7,
         nodejs,
         uuid-runtime
Maintainer: Nikolay Pyatakov <pyatakovns@mail.ru>
Description: tr-archive
